
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<h1>Welcome to the text analyzer. Enter your text below</h1>
<form action='/analyze' method='post'>
    <textarea name='text' style='margin: 0px; width: 721px; height: 93px;'></textarea><br><br>

    <input type="checkbox" name="removepunc"> Remove Punctuations<br>
    <input type="checkbox" name="uppercase"> Upper Case<br>
    <input type="checkbox" name="lowercase"> Lower Case<br>
    <input type="checkbox" name="newlineremove"> New Line Remove<br>
    <input type="checkbox" name="extraspaceremove"> Extra Spaces Remove<br>
    <button type='submit'> Analyze Text</button>
</form>
</body>
</html>
